<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-jshare-qq" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>JShareQQ</name>
    <js-module name="JShareQQ" src="www/JShareQQ.js">
        <clobbers target="cordova.plugins.JShareQQ" />
    </js-module>

  <!--添加jcore依赖-->
  <dependency id="cordova-plugin-jshare" />

    <preference name="QQ_APPID" />
    <preference name="QQ_APPKEY" />

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="JShareQQ">
                <param name="android-package" value="com.zgwit.jshare.JShareQQ" />
            </feature>
            <preference name="QQ_APPID" value="$QQ_APPID" />
            <preference name="QQ_APPKEY" value="$QQ_APPKEY" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="JShareQQ">
                <param name="ios-package" value="JShareQQ" />
            </feature>
        </config-file>
        <source-file src="src/ios/JShareQQ.m" />
    </platform>
</plugin>
